
.color1{

	font-family: Arial, Helvetica, sans-serif;
	background-image: url("Vistas Encuesta/imagenes/img4.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;

	/* rgb( 249, 241, 209 ); */ 
}



.color2 {
	
	
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;

}

.color1 form{
    
	background-color: #eee;
	margin: 50px auto;
	width: 400px;
	padding: 20px; 
}

.crearE form{
	background-color: #eee;
	margin: 50px auto;
	width: 710px;
	padding: 20px; 
}

.crearE input[type=text]{

	width: 680px;
}
input{

	border: solid 0;
	border-radius: 3px;
}

input[type=text], input[type=password]{

	padding: 10px;
	font-size: 18px;
	outline: none;
	width: 370px;
}

input[type=submit]{

	background-color: #1E69E3;
	color: white;
	padding: 8px;
	border: none;
	width:200px;
	transition: all 0.5s linear;
}

input[type=submit]:hover{

	transform: scale(0.9);
}

.crearEn input[type=submit]{
	background-image: url("Vistas Encuesta/imagenes/img2.jpg");
	background-repeat: no-repeat;
	width: 634px;
	height: 365px;
	cursor: pointer;
}

.misE input[type=submit]{
	background-image: url("Vistas Encuesta/imagenes/img1.jpg");
	width: 634px;
	height: 365px;
    cursor: pointer;
}
.crearEn{
	width: 49%;
	float: left;
	
}

.misE{
	width: 49%;
	float: left;
	height: 390px;
}
.titulo{

	width: 50%;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.center{

	text-align: center;
}


#menu{

	background-color: #eee;
	padding: 10px;
}

#menu ul{

	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	width: 100%
}

#menu ul li{

	display: inline;
}

#menu ul li a{

	color: #1E69E3;
	text-decoration: none;
}

#menu ul li a:hover{

	color: rgb(227, 109, 30);
	text-decoration: none;
}

.menu2{
	
	position: relative;
	display: flex;
	justify-content: center;

}

.menu2:before{
    content: "";
    width: 100%;
    height: 90%;
   background-image: url("Vistas Encuesta/imagenes/img3.png");
   background-size: cover;
	background-attachment: fixed;
	background-position: center;
	border-radius: 13px;
    padding: 5px;
    position: absolute;
	opacity: 0.4;
	
}
.menu2 h1{
    
	z-index: 1;
}
 



.cerrar-sesion{

	float: right;
}

.usuario{

	font-size: 30px;
}


 .color2 img{
	 
	
	transition: all 0.5s linear;
}

 .color2 img:hover{
	
	
	transform: scale(0.9);
}

.color1 img{

	transition: all 0.5s linear;
	
}

.color1 img:hover{

	transform: scale(0.9);
}

#linea{

	height: 2px;
	background-color:#386575;
	color: #386575;
	width:900px;
}

.separador1{

	height: 30px;
	clear: both;
}

.separador2{

	width: 2%;
	height: 1px;
	float: left;
}



.ima img{

	width: 49%;
	float: left;
	height: 390px;
	
}

.color2 *{
	box-sizing: border-box;
}

